button {
  padding: 4px;
}

.App {
  font-family: sans-serif;
  box-sizing: border-box;
  max-width: 720px;
}

.parent--container {
  padding: 15px;
  border: 3px dashed orange;
  background-clip: padding-box;
}

.parent--info {
  margin-bottom: 15px;
}

.child--container {
  padding: 15px;
  border: 3px dashed black;
  background-clip: padding-box;
}

.button {
  display: inline-block;
  margin-left: 15px;
}
